html, body {
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Philosopher', sans-serif;
}

input, select {	font-family: 'Philosopher', sans-serif;	}
table, td, th { border: 1px solid gray; }
th { background-color: black; color: white; }
tr { background-color: rgb(120,120,120); color: black; }
caption{ background-color: black; color: wheat; border: 1px solid gray; }

#background { 
	width: 100%; 
	height: 100%; 
	background-color: black; 
}

#wrapper	{ 
	background-color: #CCC;
	margin: auto; 
	min-width: 400px;
	min-height: 300px;
}

.row {
	clear: both;
	float: left;
	width: 100%;	
}

.center {
	 position: absolute; 
	 top: 0; 
	 bottom: 0; 
	 left: 0; 
	 right: 0; 
	 margin: auto;		
}

.fullw { width: 100%; }
.fullh { height: 100%; }
.fullwh { width: 100%; height: 100%; }

.left { float: left; }
.right { float: right; }

.cOH { display: block; position: relative; margin: 0 auto 0 auto; } /*centerOnHorizontal*/
.cOV { display: table-cell; width: inherit; height: inherit; vertical-align: middle; } /*centerOnVertical*/

.layout { visibility: hidden; position: absolute; top: -1000px; }
.block { position: absolute; }

#login-menu { width: 240px; height: 180px; background-color: black; border: 3px solid gray; }
#login-menu-text { color: white; text-align: center; font-size: 24px; margin: 20px 0; }
#login-menu-input { height: 50px; }
#login-menu-submit { }
#loginName { text-align: center; width: 70%; height: 24px; font-size: 20px; }
#loginButton { display: block; margin: 20px auto; font-size: 16px;}

#lobby { }
#lobby-games { }
#lobby-users { overflow: hidden; }
#lobby-users-child { width: 120%; height: 100%; }
#lobby-chat { border: solid #BBB 2px; background-color: #666 }
#lobby-chat-box { background-color: #EEE; overflow: scroll; overflow-x: hidden; margin: 0.5%; width: 99%; height: 98%; }
.lobby-chat-box-row { width: 90%; padding: 0 2%; margin: 5px auto; overflow: auto; }
.lobby-chat-box-row-name { width: 20%; overflow: hidden;}
.lobby-chat-box-row-message { width: 80%; overflow: hidden; }
.lobby-chat-box-row-name > p, .lobby-chat-box-row-message > p { margin: 0; }
#lobby-chat-input { border: solid #BBB 2px; background-color: #666; }

#epoch-game { background-color: #000; overflow: hidden; }
#epoch-game canvas { position: absolute; top: 0; left: 0; }
#epoch-ui { background-color: black; }
.minbutton { width: 20px; width: 20px; position: absolute; top: 0; left: 0; background-color: gray; text-align: center; cursor: default; }
#epoch-editor-window { width: 100%; height: 100%; background-color: rgba(200, 200, 200, 1); overflow: hidden; }
#epoch-editor-content { width: 98%; margin: 1% auto; border: 2px solid #666; background-color: rgba(220, 220, 220, 1); height: 68%; }
#epoch-editor-content-toolbar { height: 20%; width: 98%; background-color: #AAA; margin-bottom: 1%; padding-left: 2%; padding-top: 5px; }
#epoch-editor-content-toolbar div { width: 2%; height: 70%; float: left; margin: 0 0.5%; }
.epoch-editor-content-toolbar-button { background-color: #999; border: 2px solid black; text-align: center; font-size: 100%; line-height: 100%; vertical-align: middle; cursor: default; }
.active { border: 2px solid yellow; }
#epoch-editor-content-toolbar-button-send { width: 4%; }
.epoch-editor-unitlist-image-wrapper { width: 4.5%; float: left;  background-color: #999; margin: 0 0.2%; }
.active-unit { background-color: yellow; }
#unit-editor-button { margin-top: 1%; margin-left: 5%; }
#epoch-unit-editor { background-color: #CCC; border: 2px solid #666; }
